a {
    background-color: rgb(219, 218, 218);
}

thead th{
    padding:.5em
}
table {
    padding: .3em;
    border-spacing: 5px;
    border-collapse: separate;
    background: #000 url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JhZGllbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80") bottom left repeat-x;
    color: #fff;
}


td, th {
    background: rgba(255, 255, 255, 0.747);
    color: #000;
    padding:.3em;
 }
 
